* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #1E64A0, #5E90BB);
  color: #FFF;
}

section.form-section {
  margin: auto;
  padding-top: 50px;
  width: 375px;
}

h2 {
  padding-top: 40px;
}
/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }

  .custom-select {
    padding-top: 40px;
    position: relative;
    border-bottom: 2px solid #FFF;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 400px;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      line-height: 60px;
      background: transparent;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    z-index: 200;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      background : #1E64A0;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #FFF;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #fff;
      color: #1E64A0;
    }

.box{
  margin: auto;
  width: 20%;
  padding: 10px;
  transform : translate(-50% ,-50%);
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:90;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  z-index: 100;
  background:#fff;
  color:#1E64A0;
  font-weight: bold;
}

.btn-blue{
  z-index: 100;
  background:#1E64A0;
  color:#fff;
  font-weight: bold;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   color:#1E64A0;
   transform : translateY(-6px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:40px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
    color: #1E64A0;
}

.btn-blue:hover {
    color : #fff;
    background: #1E64A0;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

#modal-title {
  font-size: 20px;
  text-align: center;
  color : #1E64A0;
  font-weight: bold;
}

.modal-header {
  size: 1px;
}

.title {
  color: #1E64A0;
  font-weight: bold;
}

label {
  color : #1E64A0;
  font-weight: bold;
}

fieldset.scheduler-border {
  border: 2px groove #1E64A0 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
  color : #1E64A0;
  font-weight: bold;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  background-color: #fff;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0 3px;
  color: gray;
}

